
.navbar {
    padding: 1rem 0.25rem !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 40%);
}

.nav-gradient {
    background: rgba(44, 62, 80, 98%);
    background: -webkit-linear-gradient(to top, rgba(0, 28, 64, 99%), rgba(24, 49, 83, 99%));
    background: linear-gradient(to top, rgba(0, 28, 64, 99%), rgba(24, 49, 83, 99%));
}

.nav-svg {
    width: 18px;
    height: 16px;
}

.nav-link {
        color: var(--gen-white) !important;
}

.nav-link:hover {
    color: var(--nvidia-green) !important;
}

@media (max-width: 991px) {
    .nav-link {
        padding: 0.75rem 0.75rem !important;
    }

    .nav-logo {
        width: 165px;
    }
}

@media (min-width: 992px) {
    .nav-link {
        padding: 0.5rem 1.5rem !important;
    }

    .nav-logo {
        width: 175px;
    }
}

.nav-cart {
    background: linear-gradient(to bottom, rgba(0, 28, 64, 80%), rgba(24, 49, 83, 75%), rgba(44, 62, 80, 70%));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 40%);
}

.nav-cart-counter {
    margin: 0px 2px !important;
    padding: 0px 6px !important;
    border-radius: 50px !important;
}