
.footer-container {
	background: linear-gradient(to top, rgba(44, 62, 80, 98%), rgba(44, 62, 80, 90%), rgba(44, 62, 80, 82%));
}

.footer-div {
	background-color: none;
    width: 90%;
    max-width: 1550px;
    margin: 0 auto;
    color: var(--gen-white);
}

.footer-headers {
	text-align: center;
	letter-spacing: 2px;
}

ul > li {
	list-style-type: disclosure-closed;
	text-align: start;
}

.footer-links {
	color: var(--nvidia-green);
	letter-spacing: 1px;
}

.footer-links:hover {
	color: var(--gen-white);
}

.footer-line {
	margin: 25px 60px !important;
}

.footer-socials {
	width: 28px;
	padding: 0px 5px;
}

