
.card-product {
	padding: 0px 0px !important;
	border-radius: 14px !important;
	background: rgba(44, 62, 80, 90%);
    background: -webkit-linear-gradient(to right, rgba(152, 166, 173, 95%), rgba(175, 184, 185, 95%));
    background: linear-gradient(to right, rgba(152, 166, 173, 95%), rgba(175, 184, 185, 95%));
    box-shadow:
	  0 3px 2px rgba(0, 0, 0, 0.03),
	  0 6px 4px rgba(0, 0, 0, 0.05),
	  0 12px 10px rgba(0, 0, 0, 0.06),
	  0 24px 20px rgba(0, 0, 0, 0.07),
	  0 42px 36px rgba(0, 0, 0, 0.08),
	  0 100px 80px rgba(0, 0, 0, 0.12)
}

.card-product-body {
	background-color: rgba(238, 252, 254, 93%) !important;
	border-radius: 14px !important;
	margin-top: -25px;
}

.card-product-img {
    width: 100%;
    object-fit: cover;
    border-radius: 14px !important;
}

@media (max-width: 991px) {
	.card-product-img {
	    height: 190px;
	    padding: 0.5rem 0.5rem !important;
	}
}

@media (min-width: 992px) {
	.card-product-img {
	    height: 220px;
	    padding: 1.5rem 1.5rem !important;
	}
}


@media (min-width: 992px) and (max-width: 1399px) {
	.hide-on-lg-xl {
		display: none !important;
	}

	.card-product-price {
		font-size: 12px !important;
	}
}

.card-product-name {
	color: black;
	font-weight: 500 !important;
	font-size: 18px !important;
	margin-bottom: 0 !important;
}

.card-product-details {
	padding: 0px 0px !important;
	align-items: center;
	margin-top: auto !important;
}

.card-product-price {
	margin-right: auto;
	color: var(--price-red);
	font-weight: 550;
}

.product-details-btn {
	margin-left: auto;
	border-radius: 7px !important;
	font-size: 14px !important;
}

.quick-cart-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 7px !important;
	font-size: 14px !important;
	border-color: var(--danger-red) !important;
	background-color: var(--danger-red) !important;;
}