
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --gen-white: rgb(255, 255, 255);
  --bg-teal: rgb(44, 62, 80);
  --bg-navy: rgb(24, 49, 83);
  --link-blue: rgb(93, 167, 219);
  --warning-orange: rgb(221, 87, 28);
  --danger-red: rgb(126, 25, 27);
  --price-red: rgb(238, 77, 45);
  --amd-red: rgb(227, 27, 34);
  --nvidia-green: rgb(118, 185, 0);
  --intel-blue: rgb(8, 217, 214);
}

.App {
  text-align: center;
}

.main-container {
  min-height: calc(100vh - 95px) !important;
  align-items: center;
}

a {
  text-decoration: none !important;
}

body, html {
  font-family: 'Lexend', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


/*BUTTONS*/

.btn-primary {
  background-color:  var(--bg-teal) !important;
  border-color:  var(--bg-teal) !important;
}

.btn-danger {
  background-color: rgba(126, 25, 27, 90%) !important;
  border-color: var(--danger-red) !important;
}

.btn-warning {
  background-color: var(--warning-orange) !important;
  border-color: var(--warning-orange) !important;
  color: var(--gen-white) !important;
}


/*HOME*/

.banner-btn {
  background: rgba(24, 49, 83, 90%);
  border-color: var(--bg-teal) !important;
  padding: 0.5rem 2rem !important;
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(0, 0, 0, 100%), rgba(0, 0, 0, 0%));
}


/*PRODUCTS*/

.products-main, .data-table-header {
  font-weight: bold;
  font-size: 30px;
}

.product-link-btn {
  background: none !important;
  color: var(--link-blue) !important;
  border: none !important;
  font-weight: bold !important;
}


/*FeaturedProducts*/

.featured-section {
    background: rgba(44, 62, 80, 55%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 28, 64, 55%), rgba(24, 49, 83, 55%));
    background: linear-gradient(to bottom, rgba(0, 28, 64, 55%), rgba(24, 49, 83, 55%));
    border-radius: 21px !important;
    min-height: 1000px;
}

.featured-section-header {
    background-color: transparent !important;
    color: var(--gen-white) !important;
}


/*USER*/

.user-profile-image {
  width: 100px;
}

.user-profile-label {
  width: 80px;
}


/*ADMIN*/

.admin-profile-label {
  width: 75px;
}

.edit-product-label {
  justify-content: center;
  width: 55px;
}


/*AdminUserDatabase*/

.user-email-button {
  background-color: transparent !important;
  color: var(--link-blue) !important;
  border: none !important;
  font-weight: bold !important;
}

.swal2-container {
  z-index: 10000;
}


/*CART*/

.in-cart-image {
  height: 85px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

.edit-qty-btn {
  background: none !important;
  border-color: var(--link-blue) !important;
}

.edit-qty-minus,
.edit-qty-plus {
  color: var(--link-blue);
}


/*LOGIN*/

.login-container {
  padding-top: calc(50vh - 300px) !important;
}


/*TABLES*/

.data-label {
  font-size: 26px;
}

.data-table {
  overflow-x: scroll;
}

@media (max-width: 991px){
  .show-on-small {
    display: block;
  }

  .hide-on-small {
    display: none;
  }

  .product-link-btn, .user-email-button {
    font-size: 13px !important;
    padding: 0px 0px !important;;
    margin: 3px 0px !important;;
  }

  .sm-table-fontsize {
      font-size: 12px;
  }
}

@media (min-width: 992px){
  .show-on-small {
    display: none;
  }
}